@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;

  background-color: var(--bg);

  min-height: 100vh;
}

/* Custom scrollbar utility for carousel horizontal scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Skeleton animation */
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.animate-shimmer {
  background: linear-gradient(90deg, #ecefef 25%, #f4f6f6 50%, #ecefef 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
}

.dark .animate-shimmer {
  background: linear-gradient(90deg, #7a99ca 25%, #334155 50%, #1e293b 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
}
